<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyz.tracemaster">

    <!--百度定位所需要权限，前面2个是LOCATE权限组的2个危险权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--百度定位所需要的普通权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!--因为程序要与百度云服务交互-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.xyz.tracemaster.service.LocationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TraceMaster">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service" />
            </intent-filter>
        </service>

        <!--应用Key是在百度开发者页面里生成的，需要替换-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9T8YrC1W3Ct3rwNiKzwvpE3blev19HAw" />
<!--        我的vZ4qurpEpIXtvyD6XqTqR2WbSfpbsvdG-->
<!--        我弟9T8YrC1W3Ct3rwNiKzwvpE3blev19HAw-->
        <activity
            android:name="com.xyz.tracemaster.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TraceMaster.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>


</manifest>